.singleTrainCardWrapper{
    width: 80vw;
    height: 14vw;
    padding: 2vh;
    margin: 1vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: start;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
}

.singleTrainCardWrapper:hover{
    cursor: pointer;
    background-color: var(--secondary-color);
    filter: drop-shadow(1px 5px 4px var(--shadow-color));
}

.trainCardTop{
    font-size: x-large;
    font-weight: 500;
    display: flex;
    width: 80%;
    margin-left: 10vw;
    justify-content: space-around;
    border-radius: var(--border-radius);
    background-color: var(--secondary-light-color);
}

.trainCardBottom{
    display: flex;
    width: 100%;
}

.trainCardLeft{
    display: flex;
    width: 40%;
    margin: 1vh;
    margin-left: 4vw;
}

.trainIcon{
    padding: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    margin: 1vh;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
}

.trainTimings{
    display: flex;
    flex-direction: column;
    
}

.trainDepartureName,  .trainDelayName{
    text-align: center;
}

.trainDelayDisplay , .trainDepartureDisplay{
    font-size: large;
    font-weight: 500;
}

.trainDepartureTime{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    margin: 1vh;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
}


.trainDelay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    margin: 1vh;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
}

.trainCardRight{
    width: 80%;
    display: flex;
}

.seatsAvailableName{
    font-size: large;
    font-weight: 600;
}

.seatsAvailable{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    margin: 1vh;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
}

.seatsOverAllDisplay{
    
}

.sleeperCount{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sleeperCountName ,.acCountName {
    padding:0.5vh ;
    margin: 1vh;
    border-radius: var(--border-radius);
    background-color: var(--secondary-light-color);
}

.acCount{
    display: flex;
    justify-content: center;
    align-items: center;
}

.price{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    margin: 1vh;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
}

.priceName{
    font-size: large;
    font-weight: 600;
}
.sleeperPrice{
    display: flex;
    justify-content: center;
    align-items: center;
}

.acPrice{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sleeperPriceName , .acPriceName{
    padding:0.5vh ;
    margin: 1vh;
    border-radius: var(--border-radius);
    background-color: var(--secondary-light-color);
}


@media only screen and (max-width: 700px) {
    .singleTrainCardWrapper{
        width: 85vw;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    .trainIcon{
        display: none;
    }

    .trainCardRight{
        flex-direction: column;
        width: max-content;
    }

    .seatsAvailableName , .priceName{
        font-size: medium;
        text-align: center;
    }
    .seatsAvailable , .price{
        width: 40vw;
        flex-direction: row;
    }

}